body {
  padding-top: 15px;
  padding-bottom: 15px;
}
header {
  a.blog-author {
    color: #333333;
    text-decoration: none;
  }
  ul.list-inline {
    font-size: 22px;
    padding-top: 5px;
    li {padding: 0 10px;}
  }
}
